{
  "openapi": "3.1.0",
  "info": {
    "title": "Mock API",
    "summary": "Full-featured mock REST API for testing, prototyping, and frontend development",
    "description": "## Overview\n\nZero-dependency, in-memory REST API with **11 interconnected resources**, authentication, webhooks, real-time events, and comprehensive query capabilities.\n\n## Features\n\n- **Full CRUD** on all resources with proper HTTP semantics\n- **Filtering** by any field with operators: `_gte`, `_lte`, `_gt`, `_lt`, `_ne`, `_like`\n- **Full-text search** via `?q=` across all fields\n- **Sorting**: `?_sort=field1,field2&_order=desc,asc`\n- **Pagination** with `Link` headers (page or slice-based)\n- **Relations**: `?_expand=user` (parent) and `?_embed=comments` (children)\n- **Field selection**: `?_fields=id,name,email`\n- **Authentication** with Bearer tokens (any password works)\n- **Webhooks** with event subscriptions and delivery history\n- **SSE streaming** for real-time events\n- **Batch operations** for multiple requests in one call\n- **Testing aids**: `?_error=500`, `?_delay=2000`, `/status/:code`, `/echo`\n- **ETag** conditional requests\n- **Rate limiting**: 120 req/60s per IP",
    "version": "2.0.1",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "externalDocs": {
    "description": "Interactive documentation",
    "url": "https://api.rodin.dev/mock/"
  },
  "servers": [
    {
      "url": "https://api.rodin.dev/mock",
      "description": "Production"
    },
    {
      "url": "http://localhost:{port}",
      "description": "Local development",
      "variables": {
        "port": {
          "default": "3002",
          "description": "Server port",
          "enum": [
            "3002",
            "3003",
            "3004"
          ]
        }
      }
    }
  ],
  "security": [
    {},
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "users",
      "description": "User accounts, profiles, authentication, and management. Each user has an address, company info, and role-based access.",
      "externalDocs": {
        "description": "Try users",
        "url": "https://api.rodin.dev/mock/users"
      }
    },
    {
      "name": "posts",
      "description": "Blog posts and articles. Posts belong to users, can have comments, and support full-text search.",
      "externalDocs": {
        "description": "Try posts",
        "url": "https://api.rodin.dev/mock/posts"
      }
    },
    {
      "name": "comments",
      "description": "Comments and discussions. Comments belong to both a post and a user.",
      "externalDocs": {
        "description": "Try comments",
        "url": "https://api.rodin.dev/mock/comments"
      }
    },
    {
      "name": "todos",
      "description": "Task management and to-do tracking. Todos belong to users and support priority levels.",
      "externalDocs": {
        "description": "Try todos",
        "url": "https://api.rodin.dev/mock/todos"
      }
    },
    {
      "name": "albums",
      "description": "Photo album collections. Albums belong to users and contain photos.",
      "externalDocs": {
        "description": "Try albums",
        "url": "https://api.rodin.dev/mock/albums"
      }
    },
    {
      "name": "photos",
      "description": "Photos and image assets. Photos belong to albums.",
      "externalDocs": {
        "description": "Try photos",
        "url": "https://api.rodin.dev/mock/photos"
      }
    },
    {
      "name": "categories",
      "description": "Product categorization and taxonomy. Categories contain products.",
      "externalDocs": {
        "description": "Try categories",
        "url": "https://api.rodin.dev/mock/categories"
      }
    },
    {
      "name": "products",
      "description": "Product catalog with pricing, stock management, and image galleries. Products belong to categories.",
      "externalDocs": {
        "description": "Try products",
        "url": "https://api.rodin.dev/mock/products"
      }
    },
    {
      "name": "orders",
      "description": "Order processing and fulfillment. Orders belong to users and contain product items.",
      "externalDocs": {
        "description": "Try orders",
        "url": "https://api.rodin.dev/mock/orders"
      }
    },
    {
      "name": "reviews",
      "description": "Product reviews and ratings. Reviews belong to both a product and a user.",
      "externalDocs": {
        "description": "Try reviews",
        "url": "https://api.rodin.dev/mock/reviews"
      }
    },
    {
      "name": "notifications",
      "description": "Notification management. Notifications belong to users.",
      "externalDocs": {
        "description": "Try notifications",
        "url": "https://api.rodin.dev/mock/notifications"
      }
    },
    {
      "name": "webhooks",
      "description": "Event subscriptions. Register URLs to receive POST notifications on resource changes. Deliveries are simulated for safe testing.",
      "externalDocs": {
        "description": "Webhook management",
        "url": "https://api.rodin.dev/mock/webhooks"
      }
    },
    {
      "name": "auth",
      "description": "Authentication and tokens. Mock — any password works. Tokens expire in 1 hour."
    },
    {
      "name": "utils",
      "description": "Testing utilities: echo, delay, status codes, random data, SSE, batch, upload mock."
    },
    {
      "name": "database",
      "description": "Database management: reset, re-seed, export, statistics."
    }
  ],
  "paths": {
    "/users": {
      "summary": "User collection",
      "get": {
        "operationId": "listUsers",
        "summary": "List all users",
        "tags": [
          "users"
        ],
        "description": "Paginated list of users. Supports filtering, range operators (`_gte`, `_lte`, `_gt`, `_lt`, `_ne`, `_like`), full-text search, sorting, field selection, and relation expansion.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          },
          {
            "$ref": "#/components/parameters/SortParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          },
          {
            "$ref": "#/components/parameters/DelayParam"
          },
          {
            "$ref": "#/components/parameters/ErrorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated array of users",
            "headers": {
              "X-Total-Count": {
                "$ref": "#/components/headers/X-Total-Count"
              },
              "X-Page": {
                "$ref": "#/components/headers/X-Page"
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/X-Per-Page"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  },
                  "maxItems": 100
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create user",
        "tags": [
          "users"
        ],
        "description": "Create a new user. Fields `id`, `createdAt`, `updatedAt` are auto-generated. Triggers `users.created` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal (required only)",
                  "value": {
                    "firstName": "Jane",
                    "lastName": "Doe",
                    "email": "jane.doe@example.com"
                  }
                },
                "full": {
                  "summary": "Full profile",
                  "value": {
                    "firstName": "Alex",
                    "lastName": "Morgan",
                    "email": "alex.morgan@example.com",
                    "username": "amorgan",
                    "phone": "+1-555-123-4567",
                    "role": "editor",
                    "age": 32,
                    "bio": "Full-stack dev. Caffeine-powered.",
                    "isActive": true,
                    "website": "https://morgan.dev"
                  }
                },
                "admin": {
                  "summary": "Admin user",
                  "value": {
                    "firstName": "Sam",
                    "lastName": "Admin",
                    "email": "sam.admin@example.com",
                    "role": "admin",
                    "isActive": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "links": {
              "GetUserById": {
                "$ref": "#/components/links/GetUserById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "users.created webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "summary": "Single user",
      "parameters": [
        {
          "$ref": "#/components/parameters/PathId"
        }
      ],
      "get": {
        "operationId": "getUser",
        "summary": "Get user by ID",
        "tags": [
          "users"
        ],
        "description": "Retrieve a single user. Supports ETag conditional requests via `If-None-Match`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The user",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "replaceUser",
        "summary": "Replace user",
        "tags": [
          "users"
        ],
        "description": "Full replacement. All mutable fields overwritten. Triggers `users.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal (required only)",
                  "value": {
                    "firstName": "Jane",
                    "lastName": "Doe",
                    "email": "jane.doe@example.com"
                  }
                },
                "full": {
                  "summary": "Full profile",
                  "value": {
                    "firstName": "Alex",
                    "lastName": "Morgan",
                    "email": "alex.morgan@example.com",
                    "username": "amorgan",
                    "phone": "+1-555-123-4567",
                    "role": "editor",
                    "age": 32,
                    "bio": "Full-stack dev. Caffeine-powered.",
                    "isActive": true,
                    "website": "https://morgan.dev"
                  }
                },
                "admin": {
                  "summary": "Admin user",
                  "value": {
                    "firstName": "Sam",
                    "lastName": "Admin",
                    "email": "sam.admin@example.com",
                    "role": "admin",
                    "isActive": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "users.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "patch": {
        "operationId": "updateUser",
        "summary": "Partially update user",
        "tags": [
          "users"
        ],
        "description": "Partial update — only provided fields change. Triggers `users.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              },
              "examples": {
                "deactivate": {
                  "summary": "Deactivate account",
                  "value": {
                    "isActive": false
                  }
                },
                "promote": {
                  "summary": "Promote to admin",
                  "value": {
                    "role": "admin"
                  }
                },
                "updateBio": {
                  "summary": "Update bio",
                  "value": {
                    "bio": "Back to shipping."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "users.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete user",
        "tags": [
          "users"
        ],
        "description": "Permanently remove a user. Returns deleted resource. Triggers `users.deleted` webhook.",
        "responses": {
          "200": {
            "description": "Deleted user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "users.deleted webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/posts": {
      "summary": "Post collection",
      "get": {
        "operationId": "listPosts",
        "summary": "List all posts",
        "tags": [
          "posts"
        ],
        "description": "Paginated list of posts. Supports filtering, range operators (`_gte`, `_lte`, `_gt`, `_lt`, `_ne`, `_like`), full-text search, sorting, field selection, and relation expansion.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          },
          {
            "$ref": "#/components/parameters/SortParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          },
          {
            "$ref": "#/components/parameters/DelayParam"
          },
          {
            "$ref": "#/components/parameters/ErrorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated array of posts",
            "headers": {
              "X-Total-Count": {
                "$ref": "#/components/headers/X-Total-Count"
              },
              "X-Page": {
                "$ref": "#/components/headers/X-Page"
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/X-Per-Page"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  },
                  "maxItems": 100
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createPost",
        "summary": "Create post",
        "tags": [
          "posts"
        ],
        "description": "Create a new post. Fields `id`, `createdAt`, `updatedAt` are auto-generated. Triggers `posts.created` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInput"
              },
              "examples": {
                "draft": {
                  "summary": "New draft",
                  "value": {
                    "userId": 1,
                    "title": "TypeScript tips I learned the hard way",
                    "body": "First, never use `any`…",
                    "excerpt": "Ten hard-won lessons from the trenches.",
                    "tags": [
                      "typescript",
                      "engineering"
                    ],
                    "status": "draft"
                  }
                },
                "published": {
                  "summary": "Published with metadata",
                  "value": {
                    "userId": 1,
                    "title": "Shipping a mock API in 500 lines",
                    "body": "Zero dependencies, full REST semantics…",
                    "excerpt": "How to build a fake backend that teaches real habits.",
                    "tags": [
                      "node",
                      "api",
                      "mock"
                    ],
                    "status": "published",
                    "featured": true,
                    "coverImage": "https://picsum.photos/1200/600?random=1",
                    "readingTime": 7
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            },
            "links": {
              "GetPostById": {
                "$ref": "#/components/links/GetPostById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "posts.created webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/posts/{id}": {
      "summary": "Single post",
      "parameters": [
        {
          "$ref": "#/components/parameters/PathId"
        }
      ],
      "get": {
        "operationId": "getPost",
        "summary": "Get post by ID",
        "tags": [
          "posts"
        ],
        "description": "Retrieve a single post. Supports ETag conditional requests via `If-None-Match`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The post",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "replacePost",
        "summary": "Replace post",
        "tags": [
          "posts"
        ],
        "description": "Full replacement. All mutable fields overwritten. Triggers `posts.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInput"
              },
              "examples": {
                "draft": {
                  "summary": "New draft",
                  "value": {
                    "userId": 1,
                    "title": "TypeScript tips I learned the hard way",
                    "body": "First, never use `any`…",
                    "excerpt": "Ten hard-won lessons from the trenches.",
                    "tags": [
                      "typescript",
                      "engineering"
                    ],
                    "status": "draft"
                  }
                },
                "published": {
                  "summary": "Published with metadata",
                  "value": {
                    "userId": 1,
                    "title": "Shipping a mock API in 500 lines",
                    "body": "Zero dependencies, full REST semantics…",
                    "excerpt": "How to build a fake backend that teaches real habits.",
                    "tags": [
                      "node",
                      "api",
                      "mock"
                    ],
                    "status": "published",
                    "featured": true,
                    "coverImage": "https://picsum.photos/1200/600?random=1",
                    "readingTime": 7
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "posts.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "patch": {
        "operationId": "updatePost",
        "summary": "Partially update post",
        "tags": [
          "posts"
        ],
        "description": "Partial update — only provided fields change. Triggers `posts.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInput"
              },
              "examples": {
                "publish": {
                  "summary": "Publish draft",
                  "value": {
                    "status": "published"
                  }
                },
                "feature": {
                  "summary": "Feature it",
                  "value": {
                    "featured": true
                  }
                },
                "archive": {
                  "summary": "Archive",
                  "value": {
                    "status": "archived"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "posts.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePost",
        "summary": "Delete post",
        "tags": [
          "posts"
        ],
        "description": "Permanently remove a post. Returns deleted resource. Triggers `posts.deleted` webhook.",
        "responses": {
          "200": {
            "description": "Deleted post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "posts.deleted webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/comments": {
      "summary": "Comment collection",
      "get": {
        "operationId": "listComments",
        "summary": "List all comments",
        "tags": [
          "comments"
        ],
        "description": "Paginated list of comments. Supports filtering, range operators (`_gte`, `_lte`, `_gt`, `_lt`, `_ne`, `_like`), full-text search, sorting, field selection, and relation expansion.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          },
          {
            "$ref": "#/components/parameters/SortParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          },
          {
            "$ref": "#/components/parameters/DelayParam"
          },
          {
            "$ref": "#/components/parameters/ErrorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated array of comments",
            "headers": {
              "X-Total-Count": {
                "$ref": "#/components/headers/X-Total-Count"
              },
              "X-Page": {
                "$ref": "#/components/headers/X-Page"
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/X-Per-Page"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  },
                  "maxItems": 100
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create comment",
        "tags": [
          "comments"
        ],
        "description": "Create a new comment. Fields `id`, `createdAt`, `updatedAt` are auto-generated. Triggers `comments.created` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentInput"
              },
              "examples": {
                "basic": {
                  "summary": "Plain comment",
                  "value": {
                    "postId": 1,
                    "userId": 2,
                    "body": "Great write-up — saved me an hour of debugging."
                  }
                },
                "reply": {
                  "summary": "Reply with likes pre-set",
                  "value": {
                    "postId": 1,
                    "userId": 3,
                    "body": "Agreed. The `_like` operator alone is worth it.",
                    "likes": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            },
            "links": {
              "GetCommentById": {
                "$ref": "#/components/links/GetCommentById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "comments.created webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/comments/{id}": {
      "summary": "Single comment",
      "parameters": [
        {
          "$ref": "#/components/parameters/PathId"
        }
      ],
      "get": {
        "operationId": "getComment",
        "summary": "Get comment by ID",
        "tags": [
          "comments"
        ],
        "description": "Retrieve a single comment. Supports ETag conditional requests via `If-None-Match`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The comment",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "replaceComment",
        "summary": "Replace comment",
        "tags": [
          "comments"
        ],
        "description": "Full replacement. All mutable fields overwritten. Triggers `comments.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentInput"
              },
              "examples": {
                "basic": {
                  "summary": "Plain comment",
                  "value": {
                    "postId": 1,
                    "userId": 2,
                    "body": "Great write-up — saved me an hour of debugging."
                  }
                },
                "reply": {
                  "summary": "Reply with likes pre-set",
                  "value": {
                    "postId": 1,
                    "userId": 3,
                    "body": "Agreed. The `_like` operator alone is worth it.",
                    "likes": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "comments.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateComment",
        "summary": "Partially update comment",
        "tags": [
          "comments"
        ],
        "description": "Partial update — only provided fields change. Triggers `comments.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentInput"
              },
              "examples": {
                "edit": {
                  "summary": "Edit body",
                  "value": {
                    "body": "Edited: actually the _like operator is the killer feature."
                  }
                },
                "upvote": {
                  "summary": "Bump likes",
                  "value": {
                    "likes": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "comments.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteComment",
        "summary": "Delete comment",
        "tags": [
          "comments"
        ],
        "description": "Permanently remove a comment. Returns deleted resource. Triggers `comments.deleted` webhook.",
        "responses": {
          "200": {
            "description": "Deleted comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "comments.deleted webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/todos": {
      "summary": "Todo collection",
      "get": {
        "operationId": "listTodos",
        "summary": "List all todos",
        "tags": [
          "todos"
        ],
        "description": "Paginated list of todos. Supports filtering, range operators (`_gte`, `_lte`, `_gt`, `_lt`, `_ne`, `_like`), full-text search, sorting, field selection, and relation expansion.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          },
          {
            "$ref": "#/components/parameters/SortParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          },
          {
            "$ref": "#/components/parameters/DelayParam"
          },
          {
            "$ref": "#/components/parameters/ErrorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated array of todos",
            "headers": {
              "X-Total-Count": {
                "$ref": "#/components/headers/X-Total-Count"
              },
              "X-Page": {
                "$ref": "#/components/headers/X-Page"
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/X-Per-Page"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Todo"
                  },
                  "maxItems": 100
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createTodo",
        "summary": "Create todo",
        "tags": [
          "todos"
        ],
        "description": "Create a new todo. Fields `id`, `createdAt`, `updatedAt` are auto-generated. Triggers `todos.created` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TodoInput"
              },
              "examples": {
                "quick": {
                  "summary": "Quick task",
                  "value": {
                    "userId": 1,
                    "title": "Reply to launch-day emails"
                  }
                },
                "scheduled": {
                  "summary": "Scheduled with priority",
                  "value": {
                    "userId": 1,
                    "title": "Prepare Q3 roadmap deck",
                    "priority": "high",
                    "dueDate": "2026-07-01T17:00:00.000Z",
                    "tags": [
                      "planning",
                      "quarterly"
                    ]
                  }
                },
                "done": {
                  "summary": "Completed already",
                  "value": {
                    "userId": 1,
                    "title": "Deploy v2.1.0",
                    "priority": "medium",
                    "completed": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Todo created",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Todo"
                }
              }
            },
            "links": {
              "GetTodoById": {
                "$ref": "#/components/links/GetTodoById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "todos.created webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/todos/{id}": {
      "summary": "Single todo",
      "parameters": [
        {
          "$ref": "#/components/parameters/PathId"
        }
      ],
      "get": {
        "operationId": "getTodo",
        "summary": "Get todo by ID",
        "tags": [
          "todos"
        ],
        "description": "Retrieve a single todo. Supports ETag conditional requests via `If-None-Match`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The todo",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Todo"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "replaceTodo",
        "summary": "Replace todo",
        "tags": [
          "todos"
        ],
        "description": "Full replacement. All mutable fields overwritten. Triggers `todos.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TodoInput"
              },
              "examples": {
                "quick": {
                  "summary": "Quick task",
                  "value": {
                    "userId": 1,
                    "title": "Reply to launch-day emails"
                  }
                },
                "scheduled": {
                  "summary": "Scheduled with priority",
                  "value": {
                    "userId": 1,
                    "title": "Prepare Q3 roadmap deck",
                    "priority": "high",
                    "dueDate": "2026-07-01T17:00:00.000Z",
                    "tags": [
                      "planning",
                      "quarterly"
                    ]
                  }
                },
                "done": {
                  "summary": "Completed already",
                  "value": {
                    "userId": 1,
                    "title": "Deploy v2.1.0",
                    "priority": "medium",
                    "completed": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Todo replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Todo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "todos.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTodo",
        "summary": "Partially update todo",
        "tags": [
          "todos"
        ],
        "description": "Partial update — only provided fields change. Triggers `todos.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TodoInput"
              },
              "examples": {
                "complete": {
                  "summary": "Mark done",
                  "value": {
                    "completed": true
                  }
                },
                "reprioritize": {
                  "summary": "Bump priority",
                  "value": {
                    "priority": "critical"
                  }
                },
                "reschedule": {
                  "summary": "Push due date",
                  "value": {
                    "dueDate": "2026-09-01T17:00:00.000Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Todo updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Todo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "todos.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTodo",
        "summary": "Delete todo",
        "tags": [
          "todos"
        ],
        "description": "Permanently remove a todo. Returns deleted resource. Triggers `todos.deleted` webhook.",
        "responses": {
          "200": {
            "description": "Deleted todo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Todo"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "todos.deleted webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/albums": {
      "summary": "Album collection",
      "get": {
        "operationId": "listAlbums",
        "summary": "List all albums",
        "tags": [
          "albums"
        ],
        "description": "Paginated list of albums. Supports filtering, range operators (`_gte`, `_lte`, `_gt`, `_lt`, `_ne`, `_like`), full-text search, sorting, field selection, and relation expansion.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          },
          {
            "$ref": "#/components/parameters/SortParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          },
          {
            "$ref": "#/components/parameters/DelayParam"
          },
          {
            "$ref": "#/components/parameters/ErrorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated array of albums",
            "headers": {
              "X-Total-Count": {
                "$ref": "#/components/headers/X-Total-Count"
              },
              "X-Page": {
                "$ref": "#/components/headers/X-Page"
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/X-Per-Page"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Album"
                  },
                  "maxItems": 100
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createAlbum",
        "summary": "Create album",
        "tags": [
          "albums"
        ],
        "description": "Create a new album. Fields `id`, `createdAt`, `updatedAt` are auto-generated. Triggers `albums.created` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlbumInput"
              },
              "examples": {
                "basic": {
                  "summary": "Simple album",
                  "value": {
                    "userId": 1,
                    "title": "Summer 2026"
                  }
                },
                "rich": {
                  "summary": "Rich album with cover",
                  "value": {
                    "userId": 1,
                    "title": "Iceland road trip",
                    "description": "Ten days chasing waterfalls and sheep.",
                    "coverImage": "https://picsum.photos/800/600?random=42",
                    "isPublic": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Album created",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            },
            "links": {
              "GetAlbumById": {
                "$ref": "#/components/links/GetAlbumById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "albums.created webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/albums/{id}": {
      "summary": "Single album",
      "parameters": [
        {
          "$ref": "#/components/parameters/PathId"
        }
      ],
      "get": {
        "operationId": "getAlbum",
        "summary": "Get album by ID",
        "tags": [
          "albums"
        ],
        "description": "Retrieve a single album. Supports ETag conditional requests via `If-None-Match`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The album",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "replaceAlbum",
        "summary": "Replace album",
        "tags": [
          "albums"
        ],
        "description": "Full replacement. All mutable fields overwritten. Triggers `albums.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlbumInput"
              },
              "examples": {
                "basic": {
                  "summary": "Simple album",
                  "value": {
                    "userId": 1,
                    "title": "Summer 2026"
                  }
                },
                "rich": {
                  "summary": "Rich album with cover",
                  "value": {
                    "userId": 1,
                    "title": "Iceland road trip",
                    "description": "Ten days chasing waterfalls and sheep.",
                    "coverImage": "https://picsum.photos/800/600?random=42",
                    "isPublic": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Album replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "albums.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateAlbum",
        "summary": "Partially update album",
        "tags": [
          "albums"
        ],
        "description": "Partial update — only provided fields change. Triggers `albums.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlbumInput"
              },
              "examples": {
                "makePrivate": {
                  "summary": "Make private",
                  "value": {
                    "isPublic": false
                  }
                },
                "rename": {
                  "summary": "Rename",
                  "value": {
                    "title": "Iceland 2026 — final cut"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Album updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "albums.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAlbum",
        "summary": "Delete album",
        "tags": [
          "albums"
        ],
        "description": "Permanently remove a album. Returns deleted resource. Triggers `albums.deleted` webhook.",
        "responses": {
          "200": {
            "description": "Deleted album",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "albums.deleted webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/photos": {
      "summary": "Photo collection",
      "get": {
        "operationId": "listPhotos",
        "summary": "List all photos",
        "tags": [
          "photos"
        ],
        "description": "Paginated list of photos. Supports filtering, range operators (`_gte`, `_lte`, `_gt`, `_lt`, `_ne`, `_like`), full-text search, sorting, field selection, and relation expansion.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          },
          {
            "$ref": "#/components/parameters/SortParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          },
          {
            "$ref": "#/components/parameters/DelayParam"
          },
          {
            "$ref": "#/components/parameters/ErrorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated array of photos",
            "headers": {
              "X-Total-Count": {
                "$ref": "#/components/headers/X-Total-Count"
              },
              "X-Page": {
                "$ref": "#/components/headers/X-Page"
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/X-Per-Page"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Photo"
                  },
                  "maxItems": 100
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createPhoto",
        "summary": "Create photo",
        "tags": [
          "photos"
        ],
        "description": "Create a new photo. Fields `id`, `createdAt`, `updatedAt` are auto-generated. Triggers `photos.created` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhotoInput"
              },
              "examples": {
                "single": {
                  "summary": "One photo",
                  "value": {
                    "albumId": 1,
                    "title": "Sunset at Vík",
                    "url": "https://picsum.photos/1600/1067?random=1",
                    "thumbnailUrl": "https://picsum.photos/150/150?random=1",
                    "width": 1600,
                    "height": 1067,
                    "format": "jpeg",
                    "size": 284532
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Photo created",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Photo"
                }
              }
            },
            "links": {
              "GetPhotoById": {
                "$ref": "#/components/links/GetPhotoById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "photos.created webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/photos/{id}": {
      "summary": "Single photo",
      "parameters": [
        {
          "$ref": "#/components/parameters/PathId"
        }
      ],
      "get": {
        "operationId": "getPhoto",
        "summary": "Get photo by ID",
        "tags": [
          "photos"
        ],
        "description": "Retrieve a single photo. Supports ETag conditional requests via `If-None-Match`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The photo",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Photo"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "replacePhoto",
        "summary": "Replace photo",
        "tags": [
          "photos"
        ],
        "description": "Full replacement. All mutable fields overwritten. Triggers `photos.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhotoInput"
              },
              "examples": {
                "single": {
                  "summary": "One photo",
                  "value": {
                    "albumId": 1,
                    "title": "Sunset at Vík",
                    "url": "https://picsum.photos/1600/1067?random=1",
                    "thumbnailUrl": "https://picsum.photos/150/150?random=1",
                    "width": 1600,
                    "height": 1067,
                    "format": "jpeg",
                    "size": 284532
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photo replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Photo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "photos.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updatePhoto",
        "summary": "Partially update photo",
        "tags": [
          "photos"
        ],
        "description": "Partial update — only provided fields change. Triggers `photos.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhotoInput"
              },
              "examples": {
                "retitle": {
                  "summary": "Rename photo",
                  "value": {
                    "title": "Vík í Mýrdal — golden hour"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photo updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Photo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "photos.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePhoto",
        "summary": "Delete photo",
        "tags": [
          "photos"
        ],
        "description": "Permanently remove a photo. Returns deleted resource. Triggers `photos.deleted` webhook.",
        "responses": {
          "200": {
            "description": "Deleted photo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Photo"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "photos.deleted webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "summary": "Category collection",
      "get": {
        "operationId": "listCategorys",
        "summary": "List all categories",
        "tags": [
          "categories"
        ],
        "description": "Paginated list of categories. Supports filtering, range operators (`_gte`, `_lte`, `_gt`, `_lt`, `_ne`, `_like`), full-text search, sorting, field selection, and relation expansion.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          },
          {
            "$ref": "#/components/parameters/SortParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          },
          {
            "$ref": "#/components/parameters/DelayParam"
          },
          {
            "$ref": "#/components/parameters/ErrorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated array of categories",
            "headers": {
              "X-Total-Count": {
                "$ref": "#/components/headers/X-Total-Count"
              },
              "X-Page": {
                "$ref": "#/components/headers/X-Page"
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/X-Per-Page"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  },
                  "maxItems": 100
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createCategory",
        "summary": "Create category",
        "tags": [
          "categories"
        ],
        "description": "Create a new category. Fields `id`, `createdAt`, `updatedAt` are auto-generated. Triggers `categories.created` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryInput"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal",
                  "value": {
                    "name": "Electronics",
                    "slug": "electronics"
                  }
                },
                "full": {
                  "summary": "With description and image",
                  "value": {
                    "name": "Outdoor gear",
                    "slug": "outdoor-gear",
                    "description": "Tents, packs, stoves, everything that holds up in the rain.",
                    "image": "https://picsum.photos/800/400?random=7"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category created",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            },
            "links": {
              "GetCategoryById": {
                "$ref": "#/components/links/GetCategoryById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "categories.created webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories/{id}": {
      "summary": "Single category",
      "parameters": [
        {
          "$ref": "#/components/parameters/PathId"
        }
      ],
      "get": {
        "operationId": "getCategory",
        "summary": "Get category by ID",
        "tags": [
          "categories"
        ],
        "description": "Retrieve a single category. Supports ETag conditional requests via `If-None-Match`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The category",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "replaceCategory",
        "summary": "Replace category",
        "tags": [
          "categories"
        ],
        "description": "Full replacement. All mutable fields overwritten. Triggers `categories.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryInput"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal",
                  "value": {
                    "name": "Electronics",
                    "slug": "electronics"
                  }
                },
                "full": {
                  "summary": "With description and image",
                  "value": {
                    "name": "Outdoor gear",
                    "slug": "outdoor-gear",
                    "description": "Tents, packs, stoves, everything that holds up in the rain.",
                    "image": "https://picsum.photos/800/400?random=7"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "categories.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCategory",
        "summary": "Partially update category",
        "tags": [
          "categories"
        ],
        "description": "Partial update — only provided fields change. Triggers `categories.updated` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryInput"
              },
              "examples": {
                "rename": {
                  "summary": "Rename category",
                  "value": {
                    "name": "Consumer electronics"
                  }
                },
                "rebrand": {
                  "summary": "Update image",
                  "value": {
                    "image": "https://picsum.photos/800/400?random=17"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "categories.updated webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCategory",
        "summary": "Delete category",
        "tags": [
          "categories"
        ],
        "description": "Permanently remove a category. Returns deleted resource. Triggers `categories.deleted` webhook.",
        "responses": {
          "200": {
            "description": "Deleted category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "callbacks": {
          "onEvent": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "summary": "categories.deleted webhook",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPayload"
                      }
                    }
                  }
                },
                "responses": {
                  "410": {
                    "description": "Endpoint gone"
                  },
                  "2XX": {
                    "description": "Webhook accepted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "summary": "Product collection",
      "get": {
        "operationId": "listProducts",
        "summary": "List all products",
        "tags": [
          "products"
        ],
        "description": "Paginated list of products. Supports filtering, range operators (`_gte`, `_lte`, `_gt`, `_lt`, `_ne`, `_like`), full-text search, sorting, field selection, and relation expansion.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          },
          {
            "$ref": "#/components/parameters/SortParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ExpandParam"
          },
          {
            "$ref": "#/components/parameters/EmbedParam"
          },
          {
            "$ref": "#/components/parameters/DelayParam"
          },
          {
            "$ref": "#/components/parameters/ErrorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated array of products",
            "headers": {
              "X-Total-Count": {
                "$ref": "#/components/headers/X-Total-Count"
              },
              "X-Page": {
                "$ref": "#/components/headers/X-Page"
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/X-Per-Page"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "maxItems": 100
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create product",
        "tags": [
          "products"
        ],
        "description": "Create a new product. Fields `id`, `createdAt`, `updatedAt` are auto-generated. Triggers `products.created` webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductInput"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal product",
                  "value": {
                    "categoryId": 1,
[...]
